/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}   

.flex.align-center {
    align-items: center;
}

.flex.dir-column {
    flex-direction: column;
}

/* logo */

.logo {
    font-family: euro-furence-regular, serif;
    font-size: 2.5rem;
}

.logo span{
    color: var(--clr4);
}

/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
