:root {
    --clr1: #606060;
    --clr2: #292929;
    --clr3: #ffffff;;
    --clr4: #58c93a;
    --clr5: #1e1e1e;
    --clr6: #4f4e4e;
    --clr7: #c2c2c2;
    --clr8: #c2c1c1;
    --clr9: #818181;
    --clr10: #a6a6a6;
    --clr11: #939292;
    --clr12: #e5e5e5;
    --clr13: #516fad;
}